{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "standard",
    // "eslint:recommended",
    // "plugin:vue/essential",
    // "@vue/standard",
    // "@vue/typescript/recommended"
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "@typescript-eslint/parser",
  // "parserOptions": {
    // "ecmaVersion": 2020
  // },
  "rules": {
    "import/no-unresolved": 0
  },
  "globals": {
  }
}
